<div class="">
  <h1 class="little_esty_shop">Little Esty Shop</h1>
</div>

<div class="nav_bar_wrapper">
  <h1 class="title_name"><%= @merchant.name %></h1>
  <div class="nav_bar_links">
    <p class="nav_bar_links_inline"><%= button_to "Dashboard", "/merchants/#{@merchant.id}/dashboard", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "My Items", "/merchants/#{@merchant.id}/items", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "My Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %></p>
  </div>
</div>

<div>
  <%= link_to "View All Bulk Discounts", "/merchants/#{@merchant.id}/discounts" %>
</div>

<div class="fifty_fifty">
  <div>
    <h3 class="small_title_wrapper">Items Ready to Ship</h3>
    <table>
      <tr>
        <th>Item Name</th>
        <th>Invoice ID</th>
        <th>Created Date</th>
      </tr>
      <% @ready_to_ship_items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= link_to "Invoice-##{item.id}", "/merchants/#{@merchant.id}/invoices/#{item.id}" %></td>
        <td><%= Date.parse(item.created_at.to_s).strftime("%A, %B, %d, %Y") %><br/></td>
      </tr>
      <% end %>
    </table>
  </div>

  <div>
    <h3 class="small_title_wrapper">Top 5 Customers </h3>
    <table>
      <tr>
        <th>Customer Name</th>
        <th>Successful Transactions</th>
      </tr>
        <% counter = 1 %>
        <% @top_5_customers_array.each do |top_customer| %>
          <% @customers.each do |customer| %>
            <% if top_customer.customer_id == customer.id %>
      <tr>
        <td>  <%= counter %>. <%= customer.first_name %> <%= customer.last_name %></td>
        <td style="text-align: center">  <%= top_customer.count %></td>
      </tr>
              <% counter += 1 %>
            <% end %>
          <% end %>
        <% end %>
    </table>
  </div>
</div>
