<div class="">
  <h1 class="little_esty_shop">Little Esty Shop</h1>
</div>

<div class="nav_bar_wrapper">
  <h1 class="title_name"><%= "#{@merchant.name}'s Show Page" %></h1>
  <div class="nav_bar_links">
    <p class="nav_bar_links_inline"><%= button_to "Dashboard", "/admin", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "Merchants", "/admin/merchants", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "Invoices", "/admin/invoices", method: :get %></p>
  </div>
</div>

<h2 class="title_wrapper"><%= @merchant.name %></h2>

<%= form_with url: "/admin/merchants/#{@merchant.id}", method: :patch, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, value: params[:name] %>
  <%= f.submit 'Update Merchant'%>
<% end %>
