<div class="">
  <h1 class="little_esty_shop">Little Esty Shop</h1>
</div>

<div class="nav_bar_wrapper">
  <h1 class="title_name"><%= @merchant.name %></h1>
  <div class="nav_bar_links">
    <p class="nav_bar_links_inline"><%= button_to "Dashboard", "/merchants/#{@merchant.id}/dashboard", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "My Items", "/merchants/#{@merchant.id}/items", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "My Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %></p>
  </div>
</div>

<h2 class="title_wrapper">Discounts Index Page</h2>

<section>
  <h2>Next Three Upcoming Holidays</h2>
  <% @next_three_holidays.each do |holiday| %>
    <p><%= holiday[:localName] %>: <%= holiday[:date] %></p>
  <% end %>
</section><br/>

<div>
  <%= link_to "Create A New Discount", "/merchants/#{@merchant.id}/discounts/new" %>
</div><br/>

<section>
  <table>
    <tr>
      <th>Discount</th>
      <th>Percent</th>
      <th>Item Threshold</th>
      <th>Delete Link</th>
    </tr>
    <% counter = 1 %>
    <% @merchant.discounts.each do |discount| %>
    <tr style="text-align: center", id="discount-<%= discount.id %>">
      <td><%= counter %></td>
      <td><%= discount.pct_discount * 100 %>%</td>
      <td><%= discount.threshold %></td>
      <td><%= button_to "Delete Discount",
        "/merchants/#{@merchant.id}/discounts",
        method: :delete, params: {delete_discount: discount},
        form: {style: 'display:inline-block;'} %></td>
    </tr>
      <% counter += 1 %>
    <% end %>
  </table>
</section>
