<h1><%= @merchant.name %>'s Discounts Index Page</h1>

<section>
  <% @next_three_holidays.each do |holiday| %>
    <p><%= holiday.name %>: <%= holiday.date %></p><br/>
  <% end %>
</section>

<div>
  <%= link_to "Create A New Discount", "/merchants/#{@merchant.id}/discounts/new" %>
</div>

<section>
  <table>
    <tr>
      <th>Discount</th>
      <th>Percent</th>
      <th>Item Threshold</th>
    </tr>
    <% counter = 1 %>
    <% @merchant.discounts.each do |discount| %>
    <tr style="text-align: center", id="discount-<%= discount.id %>">
      <td><%= counter %></td>
      <td><%= discount.pct_discount * 100 %>%</td>
      <td><%= discount.threshold %></td>
    </tr>
      <% counter += 1 %>
    <% end %>
  </table>
</section>
