<h1><%= @merchant.name %> Discount <%= @discount.id %></h1>

<table>
  <tr>
    <th>Percent Discount</th>
    <th>Quantity Threshold</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td><%= @discount.pct_discount * 100 %>%</td>
    <td><%= @discount.threshold %></td>
    <td><%= link_to "Edit Discount", "/merchants/#{@merchant.id}/discounts/#{@discount.id}/edit", method: :get, id: "edit_#{@discount.id}" %></td>
  </tr>
</table>
